<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781914613831-fokmuoqg5qtr68rnhftg3522evpf2ua0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781914613831-fokmuoqg5qtr68rnhftg3522evpf2ua0</string>
	<key>API_KEY</key>
	<string>AIzaSyBLYe3UoKkuDxGzTPGQM887P8wBQKM0jJc</string>
	<key>GCM_SENDER_ID</key>
	<string>781914613831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kant.UberSwiftUITutorial</string>
	<key>PROJECT_ID</key>
	<string>uberswiftuitutorial-c34fb</string>
	<key>STORAGE_BUCKET</key>
	<string>uberswiftuitutorial-c34fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781914613831:ios:c125991f10182b54fbe962</string>
</dict>
</plist>